body{
    background:#333;
}

.clock{
    font-size: 4em;
    text-align: center;
    margin:  250px auto;
    color: whitesmoke;
    font-family: verdana;
}

.clock span{
    padding: 20px;
    background: #444;
   
}